<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer.email %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @booking.vehicle_listing.car_model.name %>
</p>

<p>
  <strong>Start rental date:</strong>
  <%= @booking.start_date %>
</p>

<p>
  <strong>End rental date:</strong>
  <%= @booking.end_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @booking.comments %>
</p>

<p>
  <strong>Stripe charge:</strong>
  <%= @booking.stripe_charge_id %>
</p>

<p>
  <strong>Address:</strong>
   <%= @booking.full_address %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @booking.country_code %>
</p>


<%= link_to 'Book another vehicle', vehicle_listings_path %>
