<div class="center jumbotron">
<p>
  <%= link_to 'rent a ride', vehicle_listings_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% if user_signed_in? %>
    <%= link_to 'share a ride', new_vehicle_listing_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  <% else %>
    <%=  link_to 'share a ride', root_path, class: "btn btn-danger btn-lg btn-xlarge"  %>
  <% end %>
  </p>
</div>

<h2 align="center" class="link"><%= link_to 'why us?', welcome_why_us_path  %>&nbsp;&nbsp;&nbsp;<i class="fa fa-car" aria-hidden="true"></i></h1><br/>

<div class="center jumbotron">

</div>


<h2 align="center" class="link"><%= link_to 'how it works?', welcome_how_it_works_path  %>&nbsp;&nbsp;&nbsp;<i class="fa fa-hand-pointer-o" aria-hidden="true"></i></h1><br/>


<h2 align="center">follow us</h2><br/>
<p align="center"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-instagram fa-4x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter fa-4x" aria-hidden="true"></i></p>