<p id="notice"><%= notice %></p>

<p>
  <strong>Car model:</strong>
  <%= @vehicle_listing.car_model %>
</p>

<p>
  <strong>Owned by:</strong>
  <%= @vehicle_listing.owner %>
</p>

<p>
  <strong>Make year:</strong>
  <%= @vehicle_listing.make_year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle_listing.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @image %>
</p>

<p>
  <strong>Max passengers:</strong>
  <%= @vehicle_listing.max_passengers %>
</p>

<p>
  <strong>Start available date:</strong>
  <%= @vehicle_listing.start_available_date %>
</p>

<p>
  <strong>End available date:</strong>
  <%= @vehicle_listing.end_available_date %>
</p>

<p>
  <strong>Minimum days to rent:</strong>
  <%= @vehicle_listing.minimum_days_to_rent %>
</p>

<p>
  <strong>Address:</strong>
   <%= @vehicle_listing.full_address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vehicle_listing.country.name %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @vehicle_listing.price_per_day %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @vehicle_listing.instructions %>
</p>

<%= link_to 'Edit', edit_vehicle_listing_path(@vehicle_listing) %> |
<%= link_to 'Back', vehicle_listings_path %>
